{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<div class="container">
    <h1>Des dispositifs pour aider l'insertion et la formation des jeunes sur le territoire des Hauts-de-France</h1>
</div>
<div class="numbers-container">
    <h2>Le Pole Formation Insertion en chiffres</h2>
    <div class="carousel">
    </div>
</div>
{% endblock %}

