{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<h1>Mentions légales</h1>
<div class="banner">L’accès au site « pole-information-formation-hdf.apprentis-auteuil.org » (ci-après désigné le « Site ») implique l’acceptation des dispositions suivantes :</div>

<h2>Identification</h2>
<p>Le Site est proposé par la Fondation Apprentis d’Auteuil (ci-après désignée « Apprentis d’Auteuil »).<br>
Fondation reconnue d’utilité publique par décret en date du 19 juin 1929,<br>Numéro SIRENE : 775.688.799,<br>Siège social : 40, Rue Jean de La Fontaine, 75016 Paris,<br>
Téléphone. : 01 44 14 75 75</p>

<h2>Directeur de la publication</h2>
<p><b>Jean-Baptiste de Chatillon</b>, Directeur général, Fondation Apprentis d’Auteuil, 40, Rue Jean de La Fontaine, 75016 Paris.</p>

<h2>Hébergeur</h2>
<p>Ce Site est hébergé par INTEGRA – 25, bd des Bouvets – 92 741 Nanterre Cedex – tél : 01 55 17 36 50</p>

<h2>Définitions des termes utilisés</h2>
<ul class="mentions-legales">
    <li>Utilisateur : L’utilisateur est toute personne, visiteur du site www.apprentis-auteuil.org.</li>
    <li>Identifiant : Le terme « identifiant » recouvre les informations nécessaires à l’identification d’un utilisateur sur le site pour accéder aux services d’échange.</li>
    <li>Mot de passe : Le « mot de passe » est une information confidentielle, dont l’utilisateur doit garder le secret, lui permettant, utilisé conjointement avec son Identifiant, de prouver son identité.</li>
    <li>Commentaire : Le terme « commentaire » désigne les données transmises par l’utilisateur dans les différentes rubriques du site.</li>
</ul>

<h2>Droit applicable</h2>
<p>Le contenu du Site est régi par la Loi française en vigueur, et tout litige résultant dudit contenu sera soumis aux tribunaux compétents de Paris.</p>

<h2>Droits d’auteur – Droit de propriété intellectuelle – Marques</h2>
<p>L’ensemble du Site est soumis à la réglementation applicable aux droits d’auteur et à la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris les représentations iconographiques et photographiques.
Les photographies, visuels et illustrations diffusés sur le Site ne peuvent en aucun cas être téléchargés, copiés ou faire l’objet d’une autre utilisation.
La reproduction de tout ou partie du Site sur un support quel qu’il soit, est formellement interdite sauf autorisation expresse d’ Apprentis d’Auteuil. Toutefois, la reproduction des textes sur un support papier est autorisée dans le cadre pédagogique, sous réserve du respect des trois conditions suivantes :</p>
<ul class="mentions-legales">
    <li>Gratuité de la diffusion,</li>
    <li>Respect de l’intégrité des documents reproduits (pas de modification ni altération),</li>
    <li>Citation claire et lisible de la source sous la forme suivante : « Document issu du site Internet www.pole-information-formation-hdf.apprentis-auteuil.org. Les droits de reproduction sont réservés et strictement limités ».</li>
</ul>
<p>Pour toute autre utilisation, veuillez nous consulter le Directeur de la publication.</p>
<p>Les marques, logos et certains noms figurant sur le Site sont déposés et protégés à ce titre.</p>

<h2>Respect de vos données personnelles</h2>
<p>Apprentis d’Auteuil s’engage à protéger la vie privée des utilisateurs et la confidentialité des informations communiquées sur le Site. Toute information personnelle que l’Utilisateur serait amené à transmettre à Apprentis d’Auteuil, notamment pour tout abonnement ou désabonnement, est soumise aux dispositions de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. Le traitement automatisé des données nominatives réalisé à partir du portail Internet a été déclaré auprès de la Commission Nationale de l’Informatique et des Libertés (www.cnil.fr) sous le numéro : 1073270.</p>
<p>Certaines informations, dont l’adresse mail, peuvent éventuellement être communiquées à des tiers, et notamment à des entités affiliées et des partenaires de la Fondation Apprentis d’Auteuil, à des fins d’information ou à des fins de collecte de dons. Ceci, uniquement si l’Utilisateur a coché la case autorisant Apprentis d’Auteuil à le faire, en remplissant un formulaire.</p>
<p>Tout utilisateur ayant déposé sur le Site des informations directement ou indirectement nominatives peut demander la communication des informations nominatives le concernant et les faire rectifier le cas échéant, conformément à cette loi.</p>
<p>Outre un droit d’opposition, vous avez un droit total d’accès, de modification, de rectification et de suppression aux informations nominatives vous concernant.</p>
<p>Pour exercer ces droits, vous pouvez :</p>
<p>– Soit, nous adresser un message électronique à l’adresse suivante : dpd@apprentis-auteuil.org</p>
<p>– Soit, nous adresser un courrier postal à l’adresse suivante :</p>
<p><em>Apprentis d’Auteuil<br>
Délégué à la Protection des Données<br
40 rue Jean de La Fontaine<br>
75016 Paris</em></p>
<p>– Soit, utiliser les formulaires de contact mis à votre disposition sur le Site.</p>

<h2>Cookies</h2>
<p>Des cookies persistants sont utilisés dans un but uniquement statistique. Aucun autre cookie persistant n’est placé par le site dans le navigateur. Un cookie de session valable uniquement pendant la durée de la visite est placé.</p>
<p>Pour les personnes qui ne souhaiteraient pas le stockage des informations par le logiciel de statistiques que le Site utilise (Google Analytics), il est possible de télécharger un module complémentaire de navigateur pour la désactivation de Google Analytics : <a href="https://tools.google.com/dlpage/gaoptout?hl=fr">https://tools.google.com/dlpage/gaoptout?hl=fr</a></p>

<h2>Confidentialité des courriers électroniques</h2>
<p>Apprentis d’Auteuil vous informe que :</p>
<p>– Le secret des correspondances transmises par le réseau Internet n’est pas garanti,<br>– Les courriers électroniques sont conservés sur support informatique le temps pour l’administration de fournir une réponse.</p>

<h2>Charte d'utilisation du site</h2>
<p>La charte d’utilisation du Site est applicable à l’ensemble des internautes consultant le Site ou souhaitant commenter les articles du Site et interagir avec les autres internautes.</p>
<p><a target="_blank" href="https://alsace.apprentis-auteuil.org/files/2012/08/AA_Charte-Utilisation-Site-Internet.pdf">Télécharger ici la charte d'utilisation du site Internet</a></p>

<h2>Créations de liens vers le site</h2>
<p>La mise en place d’un lien hypertexte pointant vers un contenu du Site est autorisée, sous réserve de mentionner la source avec le lien hypertexte qui pointe sur le contenu du site et que les informations ne soient utilisées qu’à des fins personnelles, associatives ou professionnelles; Toute utilisation à des fins commerciales ou publicitaires est exclue.</p>
<p>Attention ! Cette autorisation ne s’applique pas aux sites internet diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure, porter atteinte à la sensibilité du plus grand nombre.</p>

<h2>Suivi technique</h2>
<p>Agence Axess</p>

<h2>Crédits photographiques</h2>
<p>Besnard, JP Pouteau/Apprentis d’Auteuil ; Apprentis d’Auteuil ; Frédéric Maigrot.</p>
<p>Pour préserver l’anonymat total des enfants, leur prénom et leur photo ont été pour certains modifiés. Il est précisé que leur histoire a été écrite à partir de témoignages de directeurs et d’éducateurs d’Apprentis d’Auteuil.</p>
{% endblock %}
