<footer>
    <div class="socials">
        <p>Retrouvez-nous sur</p>
        <div class="social-links">
            <ul>
                <li class="social-link"><a href=""></a></li>
                <li class="social-link"><a href=""></a></li>
                <li class="social-link"><a href=""></a></li>
                <li class="social-link"><a href=""></a></li>
            </ul>
        </div>
    </div>
    <div class="links-logo">
        <div class="left">
            <ul>
                <li class="footer-link"><a href="/mentions-legales">Mentions légales</a></li>
                <li class="footer-link"><a href="/nous-contacter">Nous contacter</a></li>
                <li class="footer-link"><a href="https://sainte-barbe.apprentis-auteuil.org/nous-soutenir-0" target="_blank">Nous soutenir</a></li>
            </ul>
        </div>
        <div class="right">
            <a href="/">
                <img src="{{ asset('images/logo.png') }}" alt="Logo du Pôle Formation Insertion Hauts-de-France" class="logo">
            </a>
            <p>La confiance peut sauver l'avenir.</p>
        </div>
    </div>
</footer>