<header>
    <a href="/">
        <img src="{{ asset('images/logo.png') }}" alt="Logo du Pôle Formation Insertion Hauts-de-France" class="logo">
    </a>
    <div class="header-content">
        <h1>Pole Insertion Formation Hauts-de-France</h1>
        <nav>
            <ul class="main-nav">
                {% for category in categories %}
                    <li class="main-nav-link">
                        {{ category.nom }}
                    </li>
                {% endfor %}
                <li class="main-nav-link">
                    <a href="/actualites">Actualités</a>
                </li>
            </ul>
        </nav>
    </div>
</header>