{% extends 'base.html.twig' %}

{% block title %}Hello NousContacterController!{% endblock %}

{% block body %}
<h1>Nous contacter</h1>
<div class="banner">N'hésitez pas à nous contacter !</div>

<form action="">
    <h2>Contactez-nous !</h2>
    <label for="name">Nom*</label>
    <input type="text" name="name" placeholder="Veuillez indiquer votre nom..." required>
    <label for="email">Email*</label>
    <input type="email" name="email" placeholder="Veuillez indiquer votre email..." required>
    <label for="subject">Sujet*</label>
    <input type="text" name="subject" placeholder="Veuillez indiquer le sujet de votre message..." required>
    <label for="message">Message*</label>
    <textarea name="message" id="" cols="30" rows="10" placeholder="Veuillez indiquer votre message..." required></textarea>
    <input type="submit" id="submitBtn" value="Soumettre">
</form>
{% endblock %}
